@import "../../App.scss";

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;

  h1 {
    font-size: 3rem;
    padding: 0 0 0 15px;
  }

  li {
    font-size: 2rem;
    display: inline-block;
    margin: 0px 20px;
  }

  @include mobile {
    h1 {
      font-size: 2rem;
      padding: 0 10px;
    }

    ul {
      text-align: right;
    }

    li {
      font-size: 1.3rem;
    }
  }
}
