@import "./globalReset.scss";

$mainColor: #4705c9;

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

body {
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
  }
}
