@import "./globalReset.scss";

:root {
  --primary: #f7fff6;
  --secondary: #31343d;
  --tertiary: #b12704;
  --light: #bcebcb;
  --dark: #2892d7;
  --darker: #1d70a2;
}

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

html {
  min-height: 100%;
}

body {
  @extend html;
  margin: 0;
  padding: 0;
  max-width: 100%;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  background: var(--dark);
  color: var(--primary);
}
